#
docker run --rm -v $(pwd):/app composer install

#
docker run --rm -v $(pwd):/app npm install

#
docker run --rm -v $(pwd):/app npm run build

# docker-compose
cat <<EOL > ~/laravel-web-socket/docker-compose.yml
version: '3.8'

services:

  server:
     image: nginx:stable-alpine
     container_name: w3c-nginx
     restart: unless-stopped
     ports:
       - "80:80"
       - "443:443"
     volumes:
       - ./src:/var/www/html:cached
       - ./.docker/nginx/conf.d:/etc/nginx/conf.d
       - /etc/letsencrypt/ssl/fullchain.pem:/etc/nginx/ssl/fullchain.pem
       - /etc/letsencrypt/ssl/privkey.pem:/etc/nginx/ssl/privkey.pem

     networks:
       - w3c-network
     depends_on:
      - app
      - mysql

  app:
    build:
      context: .
      dockerfile: php.Dockerfile
    container_name: w3c-php
    volumes:
      - ./src:/var/www/html:cached
      - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    ports:
      - "9000:9000"
      - "5173:5173"
    networks:
      - w3c-network

  mysql:
     image: mysql:8.0.17
     container_name: w3c-mysql
     ports:
        - "3306:3306"
     restart: unless-stopped
     environment:
        MYSQL_DATABASE: w3c-sockets
        MYSQL_USER: root
        MYSQL_PASSWORD: "yourawesomemysqlpassword"
        MYSQL_ROOT_PASSWORD: "yourawesomemysqlpassword"
     networks:
         - w3c-network
     volumes:
       - ./.docker/data/mysql-data:/var/lib/mysql

  php-myadmin:
    image: phpmyadmin
    restart: always
    container_name: w3c-phpMyadmin
    ports:
      - 8081:80
    environment:
      - PMA_HOST=mysql
      - PMA_PORT=3306
    networks:
       - w3c-network

  redis:
    image: redis:alpine
    container_name: w3c-redis
    ports:
      - "6379:6379"
    volumes:
      - .docker/data/redis-data:/data
    networks:
       - w3c-network

  supervisor:
    build:
      context: .
      dockerfile: supervisord.Dockerfile
    container_name: w3c-supervisor
    ports:
       - "8080:8080"
    volumes:
      - ./src:/var/www/html
      - .docker/supervisord/supervisord.conf:/etc/supervisor/supervisord.conf
    networks:
      - w3c-network


networks:
  w3c-network:
    driver: bridge
EOL

#
cd ~/laravel-web-socket/src

#
cp .env.example .env

# Update .env values
sed -i 's/APP_URL=.*/APP_URL=http://ws.yourawesomedomain.com/' .env

sed -i 's/APP_NAME=.*/APP_NAME="WebSocket"/' .env
sed -i 's/DB_CONNECTION=.*/DB_CONNECTION="mysql"/' .env
sed -i 's/DB_HOST=.*/DB_HOST="mysql"/' .env
sed -i 's/DB_PORT=.*/DB_PORT="3306"/' .env
sed -i 's/DB_DATABASE=.*/DB_DATABASE="w3c-sockets"/' .env
sed -i 's/DB_USERNAME=.*/DB_USERNAME="root"/' .env
sed -i 's/DB_PASSWORD=.*/DB_PASSWORD="yourawesomemysqlpassword"/' .env

sed -i 's/BROADCAST_DRIVER=.*/BROADCAST_DRIVER=reverb/' .env
sed -i 's/QUEUE_CONNECTION=.*/QUEUE_CONNECTION=redis/' .env
sed -i 's/REDIS_CLIENT=.*/REDIS_CLIENT=predis/' .env
sed -i 's/REDIS_HOST=.*/REDIS_HOST=redis/' .env
sed -i 's/REDIS_PASSWORD=.*/REDIS_PASSWORD=null/' .env
sed -i 's/REDIS_PORT=.*/REDIS_PORT=6379/' .env

sed -i 's/REVERB_APP_ID=.*/REVERB_APP_ID=123456/' .env
sed -i 's/REVERB_APP_KEY=.*/REVERB_APP_KEY=yourappkey/' .env
sed -i 's/REVERB_APP_SECRET=.*/REVERB_APP_SECRET=yourappsupersecret/' .env
sed -i 's/REVERB_SERVER_HOST=.*/REVERB_SERVER_HOST=0.0.0.0/' .env
sed -i 's/REVERB_SERVER_PORT=.*/REVERB_SERVER_PORT=8080/' .env
sed -i 's/REVERB_HOST=.*/REVERB_HOST=ws.yourawesomedomain.com/' .env
sed -i 's/REVERB_PORT=.*/REVERB_PORT=443/' .env
sed -i 's/REVERB_SCHEME=.*/REVERB_SCHEME=https/' .env

cd ~/laravel-web-socket

docker-compose up -d — build