
cd src

#
docker run --rm -v $(pwd):/app composer install

cd ~/laravel-web-socket

# docker-compose
cat <<EOL > ~/laravel-web-socket/docker-compose.yml
version: '3.8'

services:

  server:
     image: nginx:stable-alpine
     container_name: w3c-nginx
     restart: unless-stopped
     ports:
       - "80:80"
       - "443:443"
     volumes:
       - ./src:/var/www/html:cached
       - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
       - /etc/letsencrypt/ssl/fullchain.pem:/etc/nginx/ssl/fullchain.pem
       - /etc/letsencrypt/ssl/privkey.pem:/etc/nginx/ssl/privkey.pem

     networks:
       - w3c-network
     depends_on:
      - app
      - mysql

  app:
    build:
      context: .
      dockerfile: php.Dockerfile
    container_name: w3c-php
    volumes:
      - ./src:/var/www/html:cached
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    ports:
      - "9000:9000"
      - "5173:5173"
    networks:
      - w3c-network

  mysql:
     image: mysql:latest
     container_name: w3c-mysql
     ports:
        - "3306:3306"
     restart: unless-stopped
     tty: true
     environment:
        MYSQL_DATABASE: w3c-sockets
        MYSQL_ROOT_PASSWORD: "yourawesomemysqlpassword"
        SERVICE_TAGS: dev
        SERVICE_NAME: mysql
     networks:
         - w3c-network
     volumes:
       - ./docker/data/mysql-data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: w3c-redis
    ports:
      - "6379:6379"
    volumes:
      - ./docker/data/redis-data:/data
    networks:
       - w3c-network

  supervisor:
    build:
      context: .
      dockerfile: supervisord.Dockerfile
    container_name: w3c-supervisor
    ports:
       - "8080:8080"
    volumes:
      - ./src:/var/www/html:cached
      - ./docker/supervisord/conf.d/:/etc/supervisor/conf.d/
    networks:
      - w3c-network


networks:
  w3c-network:
    driver: bridge
EOL

docker-compose down --remove-orphans

docker-compose up --build