
cd src

#
docker run --rm -v $(pwd):/app composer install

# docker-compose
cat <<EOL > ~/laravel-web-socket/docker-compose.yml
version: '3.8'

services:

  server:
     image: nginx:stable-alpine
     container_name: w3c-nginx
     restart: unless-stopped
     ports:
       - "80:80"
       - "443:443"
     volumes:
       - ./src:/var/www/html:cached
       - ./.docker/nginx/conf.d:/etc/nginx/conf.d
       - /etc/letsencrypt/ssl/fullchain.pem:/etc/nginx/ssl/fullchain.pem
       - /etc/letsencrypt/ssl/privkey.pem:/etc/nginx/ssl/privkey.pem

     networks:
       - w3c-network
     depends_on:
      - app
      - mysql

  app:
    build:
      context: .
      dockerfile: php.Dockerfile
    container_name: w3c-php
    volumes:
      - ./src:/var/www/html:cached
      - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    ports:
      - "9000:9000"
      - "5173:5173"
    networks:
      - w3c-network

  mysql:
     image: mysql:8.0.17
     container_name: w3c-mysql
     ports:
        - "3306:3306"
     restart: unless-stopped
     environment:
        MYSQL_DATABASE: w3c-sockets
        MYSQL_USER: root
        MYSQL_PASSWORD: "yourawesomemysqlpassword"
        MYSQL_ROOT_PASSWORD: "yourawesomemysqlpassword"
     networks:
         - w3c-network
     volumes:
       - ./.docker/data/mysql-data:/var/lib/mysql

  php-myadmin:
    image: phpmyadmin
    restart: always
    container_name: w3c-phpMyadmin
    ports:
      - 8081:80
    environment:
      - PMA_HOST=mysql
      - PMA_PORT=3306
    networks:
       - w3c-network

  redis:
    image: redis:alpine
    container_name: w3c-redis
    ports:
      - "6379:6379"
    volumes:
      - .docker/data/redis-data:/data
    networks:
       - w3c-network

  supervisor:
    build:
      context: .
      dockerfile: supervisord.Dockerfile
    container_name: w3c-supervisor
    ports:
       - "8080:8080"
    volumes:
      - ./src:/var/www/html
      - .docker/supervisord/supervisord.conf:/etc/supervisor/supervisord.conf
    networks:
      - w3c-network


networks:
  w3c-network:
    driver: bridge
EOL

docker-compose up -d — build